* {
	padding: 0;
	margin: 0;
}
#container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	box-sizing: border-box;
	width: 550px;
	height: 550px;
	margin: auto;
}
ul {
	display: inline-flex;
	box-sizing: border-box;
	list-style: none;
	width: 100%;
	height: 9.091%;
}
ul li {
	box-sizing: border-box;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 10%;
	height: 100%;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.row-axis-item {
	border-bottom: 2px solid #000;
	border-right: none;
}
.col-axis-item {
	border-right: 2px solid #000;
	border-bottom: none;
}
.bottom-item {
	border-bottom: 2px solid #000;
}
.right-item {
	border-right: 2px solid #000;
}
#null {
	border: none;
}
#car {
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	line-height: 0;
	background-color: #99a9bf;
	transform: translateX(500%) translateY(500%);
	transition: all .2s ease-in-out;
}
#head {
	display: inline-block;
	width: 100%;
	height: 20%;
	background-color: #3498db;
}
#cmd {
	float: right;
	width: 550px;
	height: 550px;
	margin-top: 40px;
	margin-right: 100px;
}
#btn-box {
	margin: 10px auto;
	text-align: center;
}
#cmd-btn,
#re-btn {
	display: inline-block;
	height: 30px;
	width: 60px;
	margin: auto;
	margin-left: 20px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	vertical-align: top;
	border: 1px solid #3498db;
	border-radius: 1px;
	background-color: #3498db;
	cursor: pointer;
	transition: background-color .2s ease-in-out;
}
#cmd-btn:hover,
#re-btn:hover {
	background-color: #3fadf7;
}
#cmdArea {
	width: 90%;
	height: 360px;
	padding-left: 11%;
	font-size: 22px;
	line-height: 30px;
	color: #27ae60;
	border: none;
	outline: none;
	background-color: #000;
}
#row-num {
	position: absolute;
	height: 360px;
	width: 10%;
	font-size: 16px;
  background-color: #ccc;
	overflow: hidden;
}
#row-num div{
	display: block;
  height: 8.334%;
  width: 100%;
  font-family: monospace;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
#area-box {
	position: relative;
}